@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?y682jn');
  src:  url('fonts/icomoon.eot?y682jn#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?y682jn') format('truetype'),
    url('fonts/icomoon.woff?y682jn') format('woff'),
    url('fonts/icomoon.svg?y682jn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sound-off::before {
  content: "\e909";
}
.icon-sound-on::before {
  content: "\e90a";
}
.icon-heart::before {
  content: "\e908";
}
.icon-arrow-left::before {
  content: "\e906";
  color: #fff;
}
.icon-arrow-right::before {
  content: "\e907";
  color: #fff;
}
.icon-home::before {
  content: "\e900";
  color: #fff;
}
.icon-library::before {
  content: "\e901";
  color: #fff;
}
.icon-next::before {
  content: "\e902";
  color: #fff;
}
.icon-play::before {
  content: "\e903";
  color: #fff;
}
.icon-prev::before {
  content: "\e904";
  color: #fff;
}
.icon-search::before {
  content: "\e905";
  color: #fff;
}
